*{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import 'vars';
body{
    font-family: 'Plain', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
// class main is container header and bottom header
.main{
    display: grid;
    grid-template-rows:1fr min-content;
    
    header{
        background-image: url(images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
        height: 100vh;
        width: 100%;
        position: relative;
    //    transpaent the background
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: #0000008a;
    }
        .content{
            position: absolute;
            width:40%;
            text-align: center;
            font-size: 25px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: $primary-color;
            z-index:1;
            h1 {
                font-size: 38px;
                line-height: 1.4;
            }
            p{
                color: lighten($secondary-color,50%);
            }
            @media screen and(max-width:375px){
                width: 90%;
                font-size: 20px;
            }
            button:last-child {
                // add the value transparent to make ba transprentlly
                background-color: transparent;
                border-width: 1px;
                border-color:$orange-color;
                height: 30px;
                width: 15%;
                border-radius: 5px;
                margin-left: 2rem;

                a{
                    color: $orange-color;
                   &:hover{
                    background-color:$primary-color;
                   } 
                }
            }
            a{
                color: $primary-color;
                font-size: .8rem;
                margin-right: 4px;
            }
        } 
        .header-top{
            width:100%;
            // margin: 0% auto;
            background-color:$secondary-color;
            height: 70px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            .checkbtn{
                font-size: 30px;
                color:$orange-color;
                float: right;
                line-height: 80px;
                padding-top: 20px;
                margin-right: 30px;
                display:none;
            }
            @media screen and(max-width:375px) {
                .checkbtn{
                 display: block;
                } 
                 .navigation{ ul{
                     visibility: hidden;
                 }
                    
                 } 
                }
            .items{
                display: flex;
                color:$primary-color;
                flex-direction: row;
                width: 80%;
                margin: auto;
                justify-content: space-between;
                .logo{
                    font-size: 28px;
                    font-weight: bold;
                    padding: 15px 0 0;
                }
                .navigation{
                    display: flex;
                    ul{
                        display: flex;
                        padding: 15px 0 0;
                        li{
                            margin-left: 20px;
                            a{
                                color: $primary-color;
                                &:hover{
                                    color:$orange-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom{
        display: flex;
        width: 100%;
        background-color: $secondary-color;
        @media screen and(max-width:375px) {
            display: block;
            
        }
        .bottom__right{
            padding: 70px 200px;
            width: 60%;
            @media (max-width:375px) {
                width: 100%;
                padding: 70px 50px;   
            }
            h2{
                color:$primary-color;
                text-transform: uppercase;
            }
            .lorem{
                color: #FFF;
            }
            p{
color: rgb(68, 68, 68);
            }
            button{
border: none;
background-color: $orange-color;
width: 96%;
margin: 20px auto;
padding: 8px;
color: $primary-color;
text-transform: uppercase;
cursor: pointer;
            }
}
.bottom__left{
    width: 30%;
    padding: 20px;
    color: $primary-color;
    text-indent: 20px;
        @media (max-width:375px) {
            width: 100%;   
        }
        time{
            padding-left: 20px;
            color: lighten($secondary-color,50%);
        } 
        h2{
            margin-top:4rem;
        }
                h3{
                    margin-top: 20px;
                    font-size: .8rem;
                }
    }
}
}

