// import font:
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
// Variables : 
$primary-color:rgb(255,255,255);
$secondary-color:rgb(0,0,0); 
$orange-color:#f13a11;
$color-shadow: #171819;
$color-background-prix: #f13a11;
$color-background-class: #fff;
$color-texte-prix:#fff;
$color-text-background: #909090;
$table-font-size: 15px;
$border-color: #212122;
$BSC-font: 'Barlow Semi Condensed', sans-serif;
$Container_Color: #171819;
$Headers_Color: #f13a11;
$Text-Color: #fff;
$Spans_color: #909090;
// $fontfamily:Arial, Helvetica, sans-serif;

body {
    font-family: $BSC-font;
}

// Initialization 
*{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// container properties :
<<<<<<< HEAD
.container { 
    width:80%; 
    margin: 0 auto;
    // font-family: $BSC-fontserif;
}
=======
// .container { 
//     width:80%; 
//     margin:20px auto;
//     // font-family: $BSC-fontserif;
// }
>>>>>>> a13d9eb1ca192b2efff115079db4fee7c0d7a137
// scss ismail
.main{
    display: grid;
    grid-template-rows:1fr min-content;
    
    header{
        background-image: url('../images/hero-bg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
        height: 100vh;
        width: 100%;
        position: relative;
    //    transpaent the background
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: #0000008a;
    }
        .content{
            position: absolute;
            width:40%;
            text-align: center;
            font-size: 25px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: $primary-color;
            z-index:1;
            h1 {
                font-size: 38px;
                line-height: 1.4;
            }
            p{
                color: lighten($secondary-color,50%);
            }
            @media screen and(max-width:375px){
                width: 60%;
                h1{
                    font-size:1.2rem;
                    // line-height: 2;
                }
                P{
                    font-size:.8rem;
                }
            }
            button:last-child {
                // add the value transparent to make ba transprentlly
                background-color: transparent;
                border-width: 1px;
                border-color:$orange-color;
                height: 30px;
                width: 25%;
                border-radius: 5px;
                margin-left: 2rem;
                text-transform: uppercase;
                @media screen and(max-width:375px){
                    width: 50%;
                }
                a{
                    color: $orange-color;
                   &:hover{
                    background-color:$primary-color;
                   } 
                }
            }
            a{
                color: $primary-color;
                font-size: .8rem;
                margin-right: 4px;
            }
        } 
        .header-top{
            width:100%;
            // margin: 0% auto;
            background-color:$secondary-color;
            height: 70px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            .checkbtn{
                font-size: 30px;
                color:$orange-color;
                float: right;
                line-height: 60px;
                padding-top: 5px;
                margin-right: 30px;
                display:none;
            }
            @media screen and(max-width:375px) {
                .checkbtn{
                 display: block;
                } 
                 .navigation{ ul{
                     visibility: hidden;
                 }
                    
                 } 
                }
            .items{
                display: flex;
                color:$primary-color;
                flex-direction: row;
                width: 80%;
                margin: auto;
                justify-content: space-between;
                .logo{
                    font-size: 28px;
                    font-weight: bold;
                    padding: 15px 0 0;
                }
                .navigation{
                    display: flex;
                    ul{
                        display: flex;
                        padding: 15px 0 0;
                        li{
                            margin-left: 20px;
                            a{
                                color: $primary-color;
                                text-transform: uppercase;
                                &:hover{
                                    color:$orange-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom{
        display: flex;
        width: 100%;
        background-color: $secondary-color;
        @media screen and(max-width:375px) {
            display: block;
            
        }
        .bottom__right{
            padding: 70px 200px;
            width: 60%;
            font-size: .9rem;
            h5{
                color:darken($primary-color,10%)
            }
            p{
                color:lighten($secondary-color,50%);
            }
            @media (max-width:375px) {
                width: 100%;
                padding: 10px 50px;   
                margin-top: 15px;
            }
            h2{
                color:$primary-color;
                text-transform: uppercase;
                line-height: 2;
            }
            h5{
                line-height: 1.5;
            }
            P{
                @extend h5
            }
         
            button{
border: none;
background-color: $orange-color;
width: 96%;
margin: 20px auto;
padding: 8px;
color: $primary-color;
text-transform: uppercase;
cursor: pointer;
            }
}
.bottom__left{
    width: 30%;
    padding: 20px;
    color: $primary-color;
    text-indent: 20px;
    h2{
        margin-top:4rem;
    }
            h3{
                margin-top: 20px;
                font-size: .8rem;
            }
        @media (max-width:375px) {
            width: 100%;   
            padding: 5px;
            h2{
                margin-top:1rem;
            }
                    h3{
                        margin-top: 20px;
                        font-size: 1rem;
                    }
        }
        time{
            padding-left: 20px;
            color: lighten($secondary-color,50%);
        } 
       
    }
}
}

// third-section
.containerclass{
    .texteh2 ,.texteh5 {
        text-align: center;
    } 
    .texteh2{
        font-size: 50px;
    }
    .texteh5 {
        color: $color-text-background;
        font-size: 30px;
        margin:0; 
    }
    .class{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        h3,p{
            margin-left: 20px;
            margin-top: 10px;
            font-size: 20px;
              }
            
              .classimg{
                background-color:$color-background-class;
                
                img{ 
                    width: 590px;
                    height: 400px;  
                }
                box-shadow: 2px 2px 10px 1px $color-text-background;
                }
                strong{
                color:$color-text-background;
                }
               .round{
                color:$color-texte-prix;
                border-radius: 80px;
                background: $color-background-prix;
                padding: 18px;
                margin-left: 300px;
                font-weight: bold;
            }
          }
          }
          @media screen and (max-width: 900px) {
            .containerclass{
                margin-top: 55px;
            }
            .class{
                flex-direction: column;
                margin-left: 0px;
                margin-top: 40px;
                .classimg{ 
                margin: 0px;
                width: 590px;
                margin-top: 50px;
                margin-left: -15px;
            } 
            }
        }


//!!!!!!! Reda !!!!!!!!!!!!
// Schedule Table 
.fourth-section {
    // font-family: $BSC-font;
    // 1- section 4 background color 
    .whole-background {
        padding: 5% 0%;
        background-color: #171819;
        color: $color-background-class;
    } 
    .schedule-table {
        margin-left: auto;
        margin-right: auto;
    }
    // Center headers
    .table-headers {
        text-align: center !important;
        margin: 0;
    }
    // h5 & h2 color declaration
    .table-headers h5{
        color: $color-text-background;
    }
    .table-headers h2 {
        color: $color-background-class;
    }
    // table display
    .schedule-table {
        text-align: center;
        display: table;
        border: 0;
    }
    // Schedule content properties (b/ span/ small)
    .schedule-table b{
        display: block;
        text-align: center;
        color: $color-background-class;
    } 
    .schedule-table span {
        font-size: $table-font-size;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: $color-text-background;
    }
    .schedule-table small {
        font-size: $table-font-size;
        text-transform: uppercase;
        position: relative;
        top: 12px;
    }
    .table .thead-color th,
    .schedule-table tr td:first-child {
      background-color: $color-background-prix;
      border: 1px solid $border-color;
      color: $color-background-class;
    }
  
    .schedule-table .thead-light th {
      border-bottom: 0;
      text-transform: uppercase;
    }
  
    .borders td, 
    .borders th {
      border: 1px solid $border-color;
    }
  
    .borders td {
      padding-bottom: 22px;
    }
  
    .table td, .table th {
      padding: 1rem;
    }
}
// table media
@media screen and (max-width: 700px) {
    .schedule-table {
        display: block;
      }
    //   .container{
    //     width: 80%;
    //     margin: 20px auto;
    // }
//Mohammed Tasks
}
.contact{
    width: 80%;
    height: 500px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 1px 0px 0px $Spans_color;
    h2{
        font-size: 35px;
    }
    .contact_us{
        display: flex;
        flex-direction: column;
        width: 460px;
        text-align: start;
        gap: 20px;
       }   
    input{
        height: 50px;
    }
    .input{
         border: 1px solid #ced4da;
         font-family: $BSC-font;
    }
    button{
        height: 50px;
        background-color: $Container_Color;
        color: $Text-Color;
        line-height: 2.5em;
        &:hover{
            background-color: $Headers_Color;
            transition: .5s;
            cursor: pointer;
        }
    }
    .location{
        margin-top: 35px;
    }
    p{
        font-size: 22px;
        font-family: $BSC-font;
        color: $Spans_color;
    }
}
.row{
    display: flex;
    justify-content: space-around;
    color: $Spans_color;
    }
    .fa{
        color: crimson;
    }
    a{
        text-decoration: none;
        color: $Spans_color;
    }
    @media (max-width: 700px){
       .contact{
        height: 80%;
        text-align: start;
       } 
     .email-phone{
        margin-top: 75px;
        margin-left: -350px;
     }
    }
    .container{
        width: 80%;
        margin: 20px auto;
    }
    .second-section{
        font-family: $BSC-font;
        width: 100%;
        height: 450px;
        background-color:whitesmoke;
        display: flex;
        justify-content: center;
    
        padding: 30px;
        position: relative;
        .article{
            width: 355px;
            height: 750px;
            margin-right: 997px;
            position: absolute;
            margin-top: 40px; }
        .texte{
            margin-top: 20px;
            line-height: 1.4em;
            color: $BSC-font;}
        .images{
            display: flex;
            gap: 50px;
            margin-left:370px;
            margin-top: -30px;}
        img{
            width: 300px;
            height: 300px;}
        .p{
            display: flex;
            height: 100px;
            width: 699px;
            margin-left: 322px;
            position: absolute;
            top: 280px;
            justify-content: space-between;
            #t{margin-left: 62%;}
            #i{margin-left: 57%;}
            #tw{margin-left: 46%;}
            #in{ margin-left: 57%;}
        }
        .name{
            background-color: white;
            font-size: 25px;
            padding: 20px;
            width: 43%;
            margin-left: 47px;
            box-shadow: 6px 0 38px rgb(216, 212, 212);
            height: 87%;
        }
        small{
            font-size: 15px;
            color:$color-text-background;}
        strong{font-size: 36px;}
    }
    @media(max-width:700px){
        .second-section{
            width: 155%;
            height: 2500px;
            padding: 30px;
            .article{
                width: 75%;
                margin-left: 970px;
                font-size: 28px;
                 strong{font-size: 55px;}
            }
            .images{
                margin-top: 400px;
                margin-left: -1180px;
            img{
                width: 640px;
                height: 640px;}
            .one{
                margin-top: 19%;
                margin-left: 860px;
                margin-right: 66px;}
            .two{
                margin-top: 90%;
                margin-left: -752px;
                margin-right: -231px;}
            }
            .p{
                height: 100px;
                width: 530px;
                margin-left: 58px;
                .mary{
                    margin-top: 194%;
                    width: 168%;
                    margin-left: -24%;
                    height: 120%;}
                .smith{
                    margin-top: 365%;
                    width: 188%;
                    margin-left: -128%;
                    height: 120%;}
                    #tw{margin-left: 46%;}
                .name{
                    font-size: 47px;
                    width: 116%;}
                small{font-size: 30px;}
            }
        }
    }
    


