@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.fourth-section {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.fourth-section .whole-background {
  padding: 5% 0%;
  background-color: #171819;
  color: #fff;
}

.fourth-section .schedule-table {
  margin-left: auto;
  margin-right: auto;
}

.fourth-section .table-headers {
  text-align: center !important;
  margin: 0;
}

.fourth-section .table-headers h5 {
  color: #909090;
}

.fourth-section .table-headers h2 {
  color: #fff;
}

.fourth-section .schedule-table {
  text-align: center;
  display: table;
  border: 0;
}

.fourth-section .schedule-table b {
  display: block;
  text-align: center;
  color: #fff;
}

.fourth-section .schedule-table span {
  font-size: 15px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #909090;
}

.fourth-section .schedule-table small {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  top: 12px;
}

.fourth-section .table .thead-color th,
.fourth-section .schedule-table tr td:first-child {
  background-color: #f13a11;
  border: 1px solid #212122;
  color: #fff;
}

.fourth-section .schedule-table .thead-light th {
  border-bottom: 0;
  text-transform: uppercase;
}

.fourth-section .borders td,
.fourth-section .borders th {
  border: 1px solid #212122;
}

.fourth-section .borders td {
  padding-bottom: 22px;
}

.fourth-section .table td, .fourth-section .table th {
  padding: 1rem;
}

<<<<<<< HEAD
.containerclass .texteh2, .containerclass .texteh5 {
  text-align: center;
}

.containerclass .texteh2 {
  font-size: 50px;
}

.containerclass .texteh5 {
  color: #909090;
  font-size: 30px;
  margin: 0;
}

.containerclass .class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.containerclass .class h3, .containerclass .class p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.containerclass .class .classimg {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px 1px #909090;
          box-shadow: 2px 2px 10px 1px #909090;
}

.containerclass .class .classimg img {
  width: 590px;
  height: 400px;
}

.containerclass .class strong {
  color: #909090;
}

.containerclass .class .round {
  color: #fff;
  border-radius: 80px;
  background: #f13a11;
  padding: 18px;
  margin-left: 300px;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .containerclass {
    margin-top: 55px;
  }
  .class {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    margin-top: 40px;
  }
  .class .classimg {
    margin: 0px;
    width: 590px;
    margin-top: 50px;
    margin-left: -15px;
=======
@media screen and (max-width: 992px) {
  .schedule-table {
    display: block;
>>>>>>> 99ece8d2082e6ce3a906f9c4ddd3c93f0de7ecb7
  }
}
/*# sourceMappingURL=main.css.map */