@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.fourth-section .whole-background {
  padding: 5% 0%;
  background-color: #171819;
  color: #fff;
}

.fourth-section .schedule-table {
  margin-left: auto;
  margin-right: auto;
}

.fourth-section .table-headers {
  text-align: center !important;
  margin: 0;
}

.fourth-section .table-headers h5 {
  color: #909090;
}

.fourth-section .table-headers h2 {
  color: #fff;
}

.fourth-section .schedule-table {
  text-align: center;
  display: table;
  border: 0;
}

.fourth-section .schedule-table b {
  display: block;
  text-align: center;
  color: #fff;
}

.fourth-section .schedule-table span {
  font-size: 15px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #909090;
}

.fourth-section .schedule-table small {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  top: 12px;
}

.fourth-section .table .thead-color th,
.fourth-section .schedule-table tr td:first-child {
  background-color: #f13a11;
  border: 1px solid #212122;
  color: #fff;
}

.fourth-section .schedule-table .thead-light th {
  border-bottom: 0;
  text-transform: uppercase;
}

.fourth-section .borders td,
.fourth-section .borders th {
  border: 1px solid #212122;
}

.fourth-section .borders td {
  padding-bottom: 22px;
}

.fourth-section .table td, .fourth-section .table th {
  padding: 1rem;
}

@media screen and (max-width: 700px) {
  .schedule-table {
    display: block;
  }
}

.contact {
  width: 80%;
  height: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0px 1px 0px 0px #909090;
          box-shadow: 0px 1px 0px 0px #909090;
}

.contact h2 {
  font-size: 35px;
}

.contact .contact_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 460px;
  text-align: start;
  gap: 20px;
}

.contact input {
  height: 50px;
}

.contact .input {
  border: 1px solid #ced4da;
  font-family: Arial, Helvetica, sans-serif;
}

.contact button {
  height: 50px;
  background-color: #171819;
  color: #fff;
  line-height: 2.5em;
}

.contact button:hover {
  background-color: #f13a11;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.contact .location {
  margin-top: 35px;
}

.contact p {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #909090;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #909090;
}

.fa {
  color: crimson;
}

a {
  text-decoration: none;
  color: #909090;
}

@media (max-width: 700px) {
  .contact {
    height: 80%;
    text-align: start;
  }
  .email-phone {
    margin-top: 75px;
    margin-left: -350px;
  }
}
/*# sourceMappingURL=main.css.map */