// Variables : 
$color-shadow: #171819;
$color-background-prix: #f13a11;
$color-background-class: #fff;
$color-texte-prix:#fff;
$color-text-background: #909090;
$table-font-size: 15px;

// Initialization 
* {
    box-sizing: border-box;
}
// container properties :
.container { 
    width:80%; 
    margin:20px auto;
}

// Schedule Table 
.fourth-section {
    // 1- section 4 background color 
    .whole-background {
        background-color: #171819;
        color: $color-background-class;
    } 
    // Center headers
    .table-headers {
        text-align: center !important;
        margin: 0;
    }
    // h5 & h2 color declaration
    .table-headers h5{
        color: $color-text-background;
    }
    .table-headers h2 {
        color: $color-background-class;
    }
    // table display
    .schedule-table {
        text-align: center;
        display: table;
        border: 0;
    }
    // Schedule content properties (b/ span/ small)
    .schedule-table b{
        display: block;
        text-align: center;
        color: $color-background-class;
    } 
    .schedule-table span {
        font-size: $table-font-size;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: $color-text-background;
    }
    .schedule-table small {
        font-size: $table-font-size;
        text-transform: uppercase;
        position: relative;
        top: 12px;
    }
}

