// variables class :
//color class :
$color-shadow: #171819;
$color-background-prix: #f13a11;
$color-background-class: #fff;
$color-texte-prix:#fff;
$color-text-background: #909090;

// font class :
$font-class: Arial, Helvetica, sans-serif;

.container{
   width: 80%;
   margin: 20px auto;
}

.containerclass{
    font-family:$font-class;
    margin-top: 200px;
    .texteh2 ,.texteh5 {
        text-align: center;
    } 
    .texteh2{
        font-size: 50px;
    }
    .texteh5 {
        color: $color-text-background;
        font-size: 30px;
        margin: 0; 
    }
    .class{
        display: flex;
        justify-content: space-between;
        h3,p{
            margin-left: 20px;
            margin-top: 10px;
            font-size: 20px;
                }
        .classimg{
            background-color:$color-background-class;
            
            img{ 
                width: 590px;
                height: 400px;  
            }
            box-shadow: 2px 2px 10px 1px $color-text-background;
            }
            strong{
            color:$color-text-background;
            }
           .round{
            color:$color-texte-prix;
            border-radius: 80px;
            background: $color-background-prix;
            padding: 18px;
            margin-left: 300px;
            font-weight: bold;
        }   
    }  
}
@media screen and (max-width: 900px) {
    .containerclass{
        margin-top: 55px;
    }
    .class{
        flex-direction: column;
        margin-left: 10px;
        margin-top: 40px;
        .classimg{ 
        margin: 0px;
        width: 590px;
        margin-top: 50px;
    } 
}
  
    .schedule-table .thead-light th {
      border-bottom: 0;
      text-transform: uppercase;
    }
  
    .borders td, 
    .borders th {
      border: 1px solid $border-color;
    }
  
    .borders td {
      padding-bottom: 22px;
    }
  
    .table td, .table th {
      padding: 1rem;
    }
}

